<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhentao.springandmybatis.dao.AddressMapper">
  <update id="updateByPrimaryKeySelective" parameterType="pers.zhentao.springandmybatis.pojo.Address">
    update address
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="address2 != null">
        address2 = #{address2,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="city.cityId != null">
        city_id = #{city.cityId,jdbcType=SMALLINT},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="baseResult">
    select
    *
    from address
    where address_id=#{addressId,jdbcType=SMALLINT}
  </select>
  <resultMap type="pers.zhentao.springandmybatis.pojo.Address" id="baseResult">
    <id property="addressId" column="address_id" jdbcType="SMALLINT"/>
    <result property="address" column="address" jdbcType="VARCHAR"/>
    <result property="address2" column="address2" jdbcType="VARCHAR"/>
    <result property="district" column="district" jdbcType="VARCHAR"/>
    <result property="postalCode" column="postal_code" jdbcType="SMALLINT"/>
    <result property="phone" column="phone" jdbcType="VARCHAR"/>
    <result property="lastUpdate" column="last_update" jdbcType="TIMESTAMP"/>
    <association property="city" column="city_id" select="pers.zhentao.springandmybatis.dao.CityMapper.selectByPrimaryKey"></association>
  </resultMap>
</mapper>