<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.zhentao.springandmybatis.dao.CountryMapper" >
  <select id="selectAllCountry" resultType="pers.zhentao.springandmybatis.pojo.Country">
    select 
    country_id countryId,last_update lastUpdate,country
    from country
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="pers.zhentao.springandmybatis.pojo.Country">
    select 
    country_id countryId,last_update lastUpdate,country
    from country where country_id=#{countryId}
  </select>
</mapper>