<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.zhentao.springandmybatis.dao.CustomerMapper" >
  <select id="countOfCustomer" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
    from customer
    where first_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from customer
    where first_name=#{userName,jdbcType=VARCHAR}
  </select>
  <update id="updateByOldFirstName" parameterType="java.lang.String">
    update customer
    <set >
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where first_name = #{userName,jdbcType=SMALLINT}
  </update>
  <resultMap id="BaseResultMap" type="pers.zhentao.springandmybatis.pojo.Customer" >
    <id column="customer_id" property="customerId" jdbcType="SMALLINT" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="active" property="active" jdbcType="BIT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
    <association property="address" column="address_id" select="pers.zhentao.springandmybatis.dao.AddressMapper.selectByPrimaryKey"></association>
  </resultMap>
</mapper>