<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.zhentao.springandmybatis.dao.FilmMapper" >
  <delete id="deleteByIdList" parameterType="java.util.List">
    delete from film
    where film_id in 
    <foreach collection="list" item="listItem" open="(" close=")" separator="," >
      #{listItem}
    </foreach>
  </delete>
  <!-- 分页输出 -->
  <select id="selectByOrderByLimit" resultMap="ResultMapWithFilm">
    SELECT 
    f.film_id film_id,f.title title,f.description description,f.language_id language_id,l.name language_name,f.last_update last_update
    FROM film f,language l 
    where f.language_id = l.language_id
    <if test="search != null">
        and (
            f.film_id like '%${search}%'
            or f.title like '%${search}%'
            or f.description like '%${search}%'
            or l.name like '%${search}%'
        )
    </if>
    <if test="orderByClause != null">
    order by ${orderByClause}
    </if>
    <if test="limit != 0">
    LIMIT #{offset},#{limit}
    </if>
  </select>
  <resultMap type="pers.zhentao.springandmybatis.pojo.Film" id="ResultMapWithFilm">
    <result column="film_id" property="filmId" jdbcType="SMALLINT" />
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="description" property="description" jdbcType="VARCHAR"/>
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
    <association property="language" column="language_id" select="pers.zhentao.springandmybatis.dao.LanguageMapper.selectByPrimaryKey"></association>
  </resultMap>
  <insert id="insertSelective" parameterType="pers.zhentao.springandmybatis.pojo.Film" >
    insert into film
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="language.languageId != null" >
        language_id,
      </if>
      <if test="lastUpdate != null" >
        last_update,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="language.languageId != null" >
        #{language.languageId,jdbcType=TINYINT},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.zhentao.springandmybatis.pojo.Film" >
    update film
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="language.languageId != null" >
        language_id = #{language.languageId,jdbcType=TINYINT},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where film_id = #{filmId,jdbcType=SMALLINT}
  </update>
</mapper>